__pycache__/
*.py[cod]
*$py.class

venv/
# Ignore virtual environment directory
.env
.vscode/
.pytest_cache/
# Ignore pytest cache directory

**/__init__.py
# Ignore all __init__.py files in any directory